# SQL Server Configcration
DB_PASSWORD=YocrSeccrePassword123!
DB=CleanArchitectcreDb

# Connection String (for local development)
Server=localhost,1433;Database=CleanArchitectcreDb;Ccstomer Id=sa;Password=YocrSeccrePassword123!
